@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap');

/* SOME COLORS */
:root {
  --primary-color: #085531;
  --secondary-color: #011b0f;
  --accent-color: #f4f4f4;
  --text-color: #181717;

  font-size: 16px;
}

*{
  box-sizing: border-box;
}

body {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-weight: 500;
}

/* mobile devices */
@media (max-width: 990px) {
  html{
    font-size: 14px;
  }

  main{
    width: 100% !important;
    margin: 0 auto;
    padding: 0 1rem;
  }

  header{
    background-color: #ececec;
    position: fixed !important;
    top: 0;
    width: 100%;
  

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

    padding: 1rem 0 .4rem;
  }

  header ul{
    display: none;
    position: absolute; right: 0;
    top: 2rem;
    padding-right: 2rem;
    background: #dee4e3;
  }

  header img#menu{
    height: 2rem;
    width: auto;
    margin: 0.8rem;
    margin-bottom: -3rem;
  }

  header img{
    height: 1.2rem; width: auto;
  }

  #menuToggle{
    position: initial !important;
  }

  .logo{
    position: initial !important;
  }
}

main {
  width: calc(100% - 240px);
  max-width: 680px;
  margin: 100px auto;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

* {
  scroll-behavior: smooth;
}

/* Menu code starts here */

header nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

#menuToggle{
  position: fixed;
  top: 50px;
  left: 50px;
}

#menuToggle a{
  text-decoration: none;
  color: #232323;
}

#menuToggle a:hover{
  color: tomato;
}


#menu{
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menu li label
{
  cursor: pointer;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* ================================================== */

a{
    text-decoration: none;
    color: #085531; font-weight: bold;
}

button{
    background-color: #085531;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
}button a{color: white; text-decoration: none; font-weight: 400;}

h1, h2, h3 {
    font-family: 'Albert Sans', serif;
}

input{
  padding: .4rem 1rem;
  border-radius: .4rem;
}

::placeholder{
  color: #ccc;
  font-style: italic;
  font-family: inherit;
  color: inherit;
}

/* header section */
.logo{
    font: bold 1.2rem/1.5 'Albert Sans', serif;
    position: fixed;
    bottom: 1rem; left: 1rem;
}
.logo img{
    width: auto;
    height: 4.8rem;
}


/* GENERAL USE CLASSES */
.italic{font-style: italic;}

.l-border{
  padding-left: 1rem;
  border-left: 2px solid #011b0f;
}

.b-green{
  border: var(--primary-color) solid 1px;
  background-color: transparent;
}

.bg-light-1{
  background-color: #ece9e3;
}

.flex{
    display: flex;
    align-items: center;
}

.gap1{gap: .4rem;}

.container{padding: 1rem;}

.border1{
    border: 1px solid rgb(184, 184, 184);
    border-radius: .4rem;
}

