article.intro{
    padding: 1rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    border: 1px solid rgb(209, 209, 209);
}

.call-to-action{
    margin-top: 2rem;
}

.call-to-action p{
    margin: 0;
}

.call-to-action button{
    margin-top: .64rem;
    padding: .8rem 1.2rem;
}

.highlight{
    font-size: 1.4rem;
    color: rgb(56, 22, 3);
}

.team{
    border: 2px solid #ebebeb;
    border-radius: .4rem;
    margin-top: 4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team-members{
    width: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.member{
    border-radius: .4rem;
    display: inline-block;
    padding: .4rem;
    border: 1px solid #bdbdbd;
    gap: 1rem;
} .member img{width: 3.2rem;}

.details{
    flex-direction: column;
    gap: .4rem;
    text-align: left;
    align-items: flex-start;
}.details>*{margin: 0;}
.details>button{
    border: 1px solid;
    color: #085531;
    background-color: transparent;
}
 